{
  "openapi": "3.1.1",
  "info": {
    "title": "ModelScope OpenAPI",
    "description": "魔搭社区 OpenAPI 文档",
    "version": "1.1.0+master.20260813T030041Z",
    "termsOfService": "https://www.modelscope.cn/protocol/%E8%81%94%E7%B3%BB%E6%88%91%E4%BB%AC",
    "contact": {
      "name": "modelscope",
      "url": "https://www.modelscope.cn/protocol/%E8%81%94%E7%B3%BB%E6%88%91%E4%BB%AC",
      "email": "contact@modelscope.cn"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [
    {
      "url": "https://modelscope.cn/openapi/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "User",
      "description": "用户相关接口"
    },
    {
      "name": "Models",
      "description": "模型相关接口"
    },
    {
      "name": "Datasets",
      "description": "数据集相关接口"
    },
    {
      "name": "MCP",
      "description": "MCP 服务相关接口"
    },
    {
      "name": "Studios",
      "description": "创空间相关接口"
    },
    {
      "name": "Skills",
      "description": "技能相关接口"
    },
    {
      "name": "Files",
      "description": "文件上传相关接口"
    },
    {
      "name": "Agent-IDP",
      "description": "Agent-IDP身份认证服务（beta版本）"
    },
    {
      "name": "Magicube",
      "description": "魔粒体系相关接口"
    },
    {
      "name": "Collections",
      "description": "合集相关接口"
    },
    {
      "name": "Galleries",
      "description": "Gallery 相关接口"
    }
  ],
  "externalDocs": {
    "description": "了解更多关于 ModelScope 的信息",
    "url": "https://modelscope.cn"
  },
  "paths": {
    "/users/me": {
      "get": {
        "operationId": "getCurrentUser",
        "summary": "获取当前用户信息",
        "description": "获取当前已认证用户的个人信息。",
        "tags": [
          "User"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "$ref": "#/components/responses/get-current-user-success"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          },
          "503": {
            "$ref": "#/components/responses/service-unavailable"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/models": {
      "get": {
        "operationId": "listModels",
        "summary": "获取模型列表",
        "description": "列出模型",
        "tags": [
          "Models"
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "针对模型名称、作者（包括组织、个人）的子字符串关键词进行搜索",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 100,
              "examples": [
                "Qwen",
                "glm"
              ]
            }
          },
          {
            "name": "owner",
            "in": "query",
            "description": "针对模型作者（包括组织、个人）进行搜索",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "iic",
                "ZhipuAI"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "排序方式",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "default",
                "downloads",
                "likes",
                "last_modified"
              ],
              "default": "default",
              "examples": [
                "default",
                "downloads",
                "likes",
                "last_modified"
              ]
            }
          },
          {
            "name": "page_number",
            "in": "query",
            "description": "页码，限制 page_number * page_size <= 3000",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "examples": [
                1
              ]
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "每页大小，限制 page_number * page_size <= 3000",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 10,
              "examples": [
                10
              ]
            }
          },
          {
            "name": "filter.task",
            "in": "query",
            "description": "按任务筛选（示例：text-generation / image-captioning）",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "text-generation",
                "image-captioning"
              ]
            }
          },
          {
            "name": "filter.library",
            "in": "query",
            "description": "按库/框架筛选（示例：pytorch / safetensors / diffusers / transformer）",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "pytorch",
                "safetensors",
                "diffusers",
                "transformer"
              ]
            }
          },
          {
            "name": "filter.model_type",
            "in": "query",
            "description": "按模型类型筛选（示例：qwen3_moe / glm4v）",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "qwen3_moe",
                "glm4v"
              ]
            }
          },
          {
            "name": "filter.custom_tag",
            "in": "query",
            "description": "按自定义标签筛选（示例：llm）",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "common-crawl",
                "markdown",
                "math",
                "html-parsing"
              ]
            }
          },
          {
            "name": "filter.license",
            "in": "query",
            "description": "按许可证筛选（示例：Apache License 2.0 / MIT License）",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "Apache License 2.0",
                "MIT License"
              ]
            }
          },
          {
            "name": "filter.deploy",
            "in": "query",
            "description": "按部署方式筛选（示例：swingdeploy）",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "swingdeploy"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/list-models-success"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          },
          "503": {
            "$ref": "#/components/responses/service-unavailable"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/models/{owner}/{repo_name}": {
      "get": {
        "operationId": "getModel",
        "summary": "获取模型详情",
        "description": "根据 owner/repo_name 获取模型详情",
        "tags": [
          "Models"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/owner"
          },
          {
            "$ref": "#/components/parameters/repo_name"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/get-model-success"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          },
          "503": {
            "$ref": "#/components/responses/service-unavailable"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/datasets": {
      "get": {
        "operationId": "listDatasets",
        "summary": "获取数据集列表",
        "description": "列出数据集",
        "tags": [
          "Datasets"
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "针对数据集中文名称、数据集英文名称、作者（包括组织、个人）的子字符串关键词进行搜索",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 100,
              "examples": [
                "ImageNet",
                "中文语料库"
              ]
            }
          },
          {
            "name": "owner",
            "in": "query",
            "description": "针对数据集作者（包括组织、个人）进行搜索",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "modelscope",
                "AI-ModelScope"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "排序方式",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "default",
                "downloads",
                "likes",
                "last_modified"
              ],
              "default": "default",
              "examples": [
                "default",
                "downloads",
                "likes",
                "last_modified"
              ]
            }
          },
          {
            "name": "page_number",
            "in": "query",
            "description": "页码，限制 page_number * page_size <= 3000",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "examples": [
                1
              ]
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "每页大小，限制 page_number * page_size <= 3000",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 10,
              "examples": [
                10
              ]
            }
          },
          {
            "name": "filter.task",
            "in": "query",
            "description": "按任务筛选（示例：text-classification）",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "text-classification"
              ]
            }
          },
          {
            "name": "filter.license",
            "in": "query",
            "description": "按许可证筛选（示例：Apache License 2.0 / cc-by-4.0）",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "Apache License 2.0",
                "cc-by-4.0"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/list-datasets-success"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          },
          "503": {
            "$ref": "#/components/responses/service-unavailable"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/datasets/{owner}/{repo_name}": {
      "get": {
        "operationId": "getDataset",
        "summary": "获取数据集详情",
        "description": "根据 owner/repo_name 获取数据集详情",
        "tags": [
          "Datasets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/owner"
          },
          {
            "$ref": "#/components/parameters/repo_name"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/get-dataset-success"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          },
          "503": {
            "$ref": "#/components/responses/service-unavailable"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/mcp/servers": {
      "put": {
        "operationId": "listMcpServers",
        "summary": "获取MCP服务列表",
        "description": "返回查询的 ModelScope MCP 广场服务列表",
        "tags": [
          "MCP"
        ],
        "requestBody": {
          "description": "查询参数",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "search": {
                    "type": "string",
                    "description": "支持针对服务中文名称、服务英文名称、作者/所有者用户名进行搜索"
                  },
                  "filter": {
                    "type": "object",
                    "description": "筛选条件",
                    "properties": {
                      "category": {
                        "type": "string",
                        "description": "指定筛选类别标签。与tag,is_hosted同时传入时,取三者的交集",
                        "examples": [
                          "communication"
                        ]
                      },
                      "is_hosted": {
                        "type": "boolean",
                        "description": "指定筛选hosted或未hosted MCP服务。与tag,category同时传入时,取三者的交集",
                        "examples": [
                          true
                        ]
                      }
                    }
                  },
                  "page_number": {
                    "type": "integer",
                    "description": "页码，默认为 1，限制 page_number * page_size <= 100",
                    "default": 1
                  },
                  "page_size": {
                    "type": "integer",
                    "description": "每页大小，默认为20，限制 page_number * page_size <= 100",
                    "default": 20
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/list-mcp-servers-success"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          },
          "503": {
            "$ref": "#/components/responses/service-unavailable"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/mcp/servers/operational": {
      "get": {
        "operationId": "listOperationalMcpServers",
        "summary": "获取用户托管MCP服务列表",
        "description": "获取用户托管MCP服务列表",
        "tags": [
          "MCP"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/list-operational-mcp-servers-success"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          },
          "503": {
            "$ref": "#/components/responses/service-unavailable"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/mcp/servers/{id}": {
      "get": {
        "operationId": "getMcpServer",
        "summary": "获取指定MCP服务详情",
        "description": "返回指定 MCP 服务的详细信息",
        "tags": [
          "MCP"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/mcp_server_id"
          },
          {
            "name": "get_operational_url",
            "in": "query",
            "description": "传入true时返回当前用户在modelscope上托管的MCP服务链接（例如SSE_URL），默认false",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/get-mcp-server-success"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          },
          "503": {
            "$ref": "#/components/responses/service-unavailable"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/mcp/servers/{id}/deploy": {
      "post": {
        "operationId": "deployMcpServer",
        "summary": "部署MCP服务",
        "description": "部署MCP服务",
        "tags": [
          "MCP"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/mcp_server_id"
          }
        ],
        "requestBody": {
          "description": "部署参数",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "transport_type": {
                    "type": "string",
                    "description": "传输方式: sse/streamable_http",
                    "enum": [
                      "sse",
                      "streamable_http"
                    ],
                    "examples": [
                      "streamable_http"
                    ]
                  },
                  "expiration_minutes": {
                    "type": "integer",
                    "description": "有效期（分钟），-1 代表长期有效",
                    "examples": [
                      -1,
                      60,
                      1440
                    ]
                  },
                  "auth_check": {
                    "type": "boolean",
                    "description": "远程 url 连接时是否需要提供魔搭访问令牌鉴权",
                    "default": false
                  },
                  "env_info": {
                    "type": "object",
                    "description": "MCP环境变量，具体需要传入的环境变量可在获取指定MCP服务详情接口返回的 env_schema 字段中获取",
                    "additionalProperties": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/deploy-mcp-server-success"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          },
          "503": {
            "$ref": "#/components/responses/service-unavailable"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/mcp/servers/{id}/undeploy": {
      "delete": {
        "operationId": "undeployMcpServer",
        "summary": "解除MCP服务部署",
        "description": "解除MCP服务部署",
        "tags": [
          "MCP"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/mcp_server_id"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/undeploy-mcp-server-success"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          },
          "503": {
            "$ref": "#/components/responses/service-unavailable"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/studios": {
      "get": {
        "operationId": "listStudios",
        "summary": "获取创空间列表",
        "description": "列出创空间",
        "tags": [
          "Studios"
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "针对创空间名称、展示名称、作者（包括组织、个人）的子字符串关键词进行搜索",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 100,
              "examples": [
                "chatbot",
                "demo"
              ]
            }
          },
          {
            "name": "owner",
            "in": "query",
            "description": "针对创空间作者（包括组织、个人）进行搜索",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "iic",
                "ZhipuAI"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "排序方式",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "default",
                "last_modified",
                "view_num",
                "likes"
              ],
              "default": "default",
              "examples": [
                "default",
                "last_modified",
                "view_num",
                "likes"
              ]
            }
          },
          {
            "name": "page_number",
            "in": "query",
            "description": "页码，限制 page_number * page_size <= 3000",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "examples": [
                1
              ]
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "每页大小（1~50），限制 page_number * page_size <= 3000",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 10,
              "examples": [
                10
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "按创空间运行状态筛选。正常搜索仅支持 running；当按 owner 筛选时，默认为 all",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "running",
                "all"
              ],
              "default": "running",
              "examples": [
                "running",
                "all"
              ]
            }
          },
          {
            "name": "mcp_support",
            "in": "query",
            "description": "是否支持通过MCP使用",
            "required": false,
            "schema": {
              "type": "boolean",
              "examples": [
                true,
                false
              ]
            }
          },
          {
            "name": "hardware_type",
            "in": "query",
            "description": "根据创空间硬件类型筛选，当前仅支持筛选 xGPU",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "xgpu",
                "amd"
              ],
              "examples": [
                "xgpu"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/list-studios-success"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "operationId": "createStudio",
        "summary": "创建创空间",
        "description": "创建一个新的 Studio（创空间）",
        "tags": [
          "Studios"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateStudioRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/create-studio-success"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/studios/hardware": {
      "get": {
        "operationId": "listHardware",
        "summary": "查询可用硬件配置",
        "description": "查询创空间可用的硬件配置列表。\n- 未登录：返回默认免费硬件\n- 已登录：返回用户可用的免费硬件和带价格的付费硬件\n- 已登录且指定创空间：免费硬件以该创空间的可用免费资源为准\n- 付费资源：使用 `paid/<InstanceType>` 作为创建或更新 Studio 时的 `hardware` 参数值\n- `sdk_type` 用于按 `supported_sdk_types` 过滤硬件配置\n",
        "tags": [
          "Studios"
        ],
        "parameters": [
          {
            "name": "sdk_type",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/StudioSDKType"
            },
            "description": "过滤支持该 SDK 类型的硬件"
          },
          {
            "name": "studio",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "创空间路径（owner/repo_name），指定后返回该创空间可选的硬件"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/list-hardware-success"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {}
        ]
      }
    },
    "/studios/sdk-versions": {
      "get": {
        "operationId": "listSdkVersions",
        "summary": "查询可用 SDK 版本",
        "description": "查询创空间可用的 SDK 版本列表。\n仅当 `sdk_type=gradio` 时返回 Gradio 版本列表；其他 SDK 类型或未传 `sdk_type` 时返回空列表。\n",
        "tags": [
          "Studios"
        ],
        "parameters": [
          {
            "name": "sdk_type",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/StudioSDKType"
            },
            "description": "SDK 类型，仅 `gradio` 返回版本列表",
            "example": "gradio"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/list-sdk-versions-success"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {}
        ]
      }
    },
    "/studios/base-images": {
      "get": {
        "operationId": "listBaseImages",
        "summary": "查询可用基础镜像",
        "description": "查询创空间可用的基础镜像列表，登录与否返回结果一致",
        "tags": [
          "Studios"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/list-base-images-success"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {}
        ]
      }
    },
    "/studios/{owner}/{repo_name}": {
      "get": {
        "operationId": "getStudio",
        "summary": "获取创空间详情",
        "description": "获取指定 Studio 的详细信息。\n公开（public）和公开体验（protected）类型的创空间无需认证即可访问；私有（private）创空间需要认证。\n",
        "tags": [
          "Studios"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/studio_owner"
          },
          {
            "$ref": "#/components/parameters/studio_repo_name"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/get-studio-success"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {}
        ]
      }
    },
    "/studios/{owner}/{repo_name}/settings": {
      "patch": {
        "operationId": "updateStudioSettings",
        "summary": "更新创空间设置",
        "description": "更新指定 Studio 的设置，传入哪个字段修改哪个字段，不传的字段不修改。注意：sdk_type、sdk_version、base_image、hardware 修改后需重新部署才能生效",
        "tags": [
          "Studios"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/studio_owner"
          },
          {
            "$ref": "#/components/parameters/studio_repo_name"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateStudioSettingsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/update-studio-settings-success"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/studios/{owner}/{repo_name}/secrets": {
      "get": {
        "operationId": "listStudioSecrets",
        "summary": "获取创空间密文变量列表",
        "description": "获取指定 Studio 的所有密文变量 key 列表，不返回 value",
        "tags": [
          "Studios"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/studio_owner"
          },
          {
            "$ref": "#/components/parameters/studio_repo_name"
          }
        ],
        "responses": {
          "200": {
            "description": "成功获取密文变量列表",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListStudioSecretsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "operationId": "addStudioSecret",
        "summary": "添加创空间密文变量",
        "description": "为指定的 Studio 添加一个密文变量，value 不会公开展示",
        "tags": [
          "Studios"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/studio_owner"
          },
          {
            "$ref": "#/components/parameters/studio_repo_name"
          }
        ],
        "requestBody": {
          "description": "添加密文变量请求参数",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddStudioSecretRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/studio-operation-success"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "operationId": "updateStudioSecret",
        "summary": "更新创空间密文变量",
        "description": "更新指定 Studio 的一个密文变量值",
        "tags": [
          "Studios"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/studio_owner"
          },
          {
            "$ref": "#/components/parameters/studio_repo_name"
          }
        ],
        "requestBody": {
          "description": "更新密文变量请求参数",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateStudioSecretRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/studio-operation-success"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "operationId": "deleteStudioSecret",
        "summary": "删除创空间密文变量",
        "description": "删除指定 Studio 的一个密文变量",
        "tags": [
          "Studios"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/studio_owner"
          },
          {
            "$ref": "#/components/parameters/studio_repo_name"
          }
        ],
        "requestBody": {
          "description": "删除密文变量请求参数",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteStudioSecretRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/studio-operation-success"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/studios/{owner}/{repo_name}/variables": {
      "get": {
        "operationId": "listStudioVariables",
        "summary": "获取创空间明文变量列表",
        "description": "获取指定 Studio 的所有明文变量的 key 和 value（与密文变量不同，明文变量的值公开可见）",
        "tags": [
          "Studios"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/studio_owner"
          },
          {
            "$ref": "#/components/parameters/studio_repo_name"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/list-studio-variables-success"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "operationId": "addStudioVariable",
        "summary": "添加创空间明文变量",
        "description": "为指定的 Studio 添加一个明文变量（key 和 value 都公开可见，敏感信息请使用密文变量接口）",
        "tags": [
          "Studios"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/studio_owner"
          },
          {
            "$ref": "#/components/parameters/studio_repo_name"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddStudioVariableRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/studio-operation-success"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "operationId": "updateStudioVariable",
        "summary": "更新创空间明文变量",
        "description": "更新指定 Studio 的一个明文变量值",
        "tags": [
          "Studios"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/studio_owner"
          },
          {
            "$ref": "#/components/parameters/studio_repo_name"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateStudioVariableRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/studio-operation-success"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "operationId": "deleteStudioVariable",
        "summary": "删除创空间明文变量",
        "description": "删除指定 Studio 的一个明文变量",
        "tags": [
          "Studios"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/studio_owner"
          },
          {
            "$ref": "#/components/parameters/studio_repo_name"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteStudioVariableRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/studio-operation-success"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/studios/{owner}/{repo_name}/deploy": {
      "post": {
        "operationId": "deployStudio",
        "summary": "部署创空间",
        "description": "部署指定的 Studio（会重新拉取代码并重建），无论当前状态是停止还是运行中均可调用",
        "tags": [
          "Studios"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/studio_owner"
          },
          {
            "$ref": "#/components/parameters/studio_repo_name"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/studio-runtime-success"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/studios/{owner}/{repo_name}/stop": {
      "post": {
        "operationId": "stopStudio",
        "summary": "停止创空间",
        "description": "停止指定的 Studio",
        "tags": [
          "Studios"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/studio_owner"
          },
          {
            "$ref": "#/components/parameters/studio_repo_name"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/studio-runtime-success"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/studios/{owner}/{repo_name}/logs/{log_type}": {
      "get": {
        "operationId": "getStudioLogs",
        "summary": "获取创空间日志",
        "description": "获取指定 Studio 的运行日志",
        "tags": [
          "Studios"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/studio_owner"
          },
          {
            "$ref": "#/components/parameters/studio_repo_name"
          },
          {
            "$ref": "#/components/parameters/studio_log_type"
          },
          {
            "name": "page_num",
            "in": "query",
            "description": "页码，默认 1",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "每页数量，默认 100，最大 500",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 500
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "关键字过滤",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_timestamp",
            "in": "query",
            "description": "开始时间戳（秒），可不填，自动根据 end_timestamp 计算",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "end_timestamp",
            "in": "query",
            "description": "结束时间戳（秒），可不填，默认当前时间",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/get-studio-logs-success"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/skills": {
      "get": {
        "operationId": "listSkills",
        "summary": "获取技能列表",
        "description": "返回 ModelScope 技能广场的技能列表，支持关键词搜索与多维度筛选",
        "tags": [
          "Skills"
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "关键词搜索，支持技能名称、描述等",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter.developer",
            "in": "query",
            "description": "按开发者筛选",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "amap-web": {
                "value": "AMap-Web",
                "summary": "开发者 AMap-Web"
              }
            }
          },
          {
            "name": "filter.category",
            "in": "query",
            "description": "按分类筛选",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/SkillCategory"
            },
            "examples": {
              "developer-tools": {
                "value": "developer-tools",
                "summary": "开发工具"
              },
              "ai-media": {
                "value": "ai-media",
                "summary": "AI 媒体"
              }
            }
          },
          {
            "name": "filter.license",
            "in": "query",
            "description": "按许可证筛选",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "mit": {
                "value": "MIT License",
                "summary": "MIT 许可证"
              }
            }
          },
          {
            "name": "filter.custom_tag",
            "in": "query",
            "description": "按自定义标签筛选",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "api-design": {
                "value": "api-design",
                "summary": "API 设计"
              }
            }
          },
          {
            "name": "filter.owner",
            "in": "query",
            "description": "按所有者筛选",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_number",
            "in": "query",
            "description": "页码，从 1 开始",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "每页条数",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/list-skills-success"
          },
          "400": {
            "$ref": "#/components/responses/skill-bad-request"
          },
          "401": {
            "$ref": "#/components/responses/skill-unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/skill-internal-server-error"
          },
          "503": {
            "$ref": "#/components/responses/skill-service-unavailable"
          }
        }
      },
      "post": {
        "operationId": "createSkill",
        "summary": "创建技能",
        "description": "创建一个新的 Skill（技能）。\n\n创建流程：\n1. 先调用 `POST /files/upload` 上传 Skill 项目文件（zip 包，根目录必须且仅可包含 1 个 SKILL.md 文件），获取 `file_id`。\n2. 再调用本接口传入 `skill_file`（上一步返回的 file_id）及其他元信息完成创建。\n\n注意：`skill_name` 仅允许小写字母、数字和连字符，创建后不可修改；`owner` 创建后不可修改。\n",
        "tags": [
          "Skills"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSkillRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/create-skill-success"
          },
          "400": {
            "$ref": "#/components/responses/skill-bad-request"
          },
          "401": {
            "$ref": "#/components/responses/skill-unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "409": {
            "$ref": "#/components/responses/skill-conflict"
          },
          "500": {
            "$ref": "#/components/responses/skill-internal-server-error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/skills/{id}": {
      "get": {
        "operationId": "getSkill",
        "summary": "获取指定技能详情",
        "description": "根据技能 ID 返回指定技能的详细信息，ID 格式为 @author/skill_name（例如 @Alipay/alipay-payment-integration），其中 @ 和 / 无需 URL 编码",
        "tags": [
          "Skills"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "技能 ID，格式为 @author/skill_name，其中 @ 和 / 无需 URL 编码",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "alipay-payment": {
                "value": "@Alipay/alipay-payment-integration",
                "summary": "支付宝支付集成"
              },
              "summarize": {
                "value": "@steipete/summarize",
                "summary": "内容总结"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/get-skill-success"
          },
          "401": {
            "$ref": "#/components/responses/skill-unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/skill-not-found"
          },
          "500": {
            "$ref": "#/components/responses/skill-internal-server-error"
          },
          "503": {
            "$ref": "#/components/responses/skill-service-unavailable"
          }
        }
      }
    },
    "/skills/{owner}/{skill_name}/settings": {
      "patch": {
        "operationId": "updateSkillSettings",
        "summary": "更新技能设置",
        "description": "更新指定 Skill 的设置，传入哪个字段修改哪个字段，不传的字段不修改保持原值。\n\n语义说明：\n- `skill_file` 传入时整体覆盖原有项目文件；不传则保留原文件不变。\n- `tags` 传入时整体覆盖原标签列表。\n- `logo_url` 传空字符串时恢复为平台默认图标。\n- `skill_name` 和 `owner` 创建后不可修改，故不在本接口内。\n",
        "tags": [
          "Skills"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/skill_owner_path"
          },
          {
            "$ref": "#/components/parameters/skill_name_path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSkillSettingsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/update-skill-settings-success"
          },
          "400": {
            "$ref": "#/components/responses/skill-bad-request"
          },
          "401": {
            "$ref": "#/components/responses/skill-unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/skill-not-found"
          },
          "500": {
            "$ref": "#/components/responses/skill-internal-server-error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/files/upload": {
      "post": {
        "operationId": "uploadFile",
        "summary": "上传文件",
        "description": "通用文件上传接口（最大 5MB），返回文件 ID。该 ID 可作为入参传给其他接口，用于引用已上传的文件。",
        "tags": [
          "Files"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/UploadFileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/upload-file-success"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "413": {
            "$ref": "#/components/responses/bad-request"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/agent_ids": {
      "post": {
        "operationId": "createAgentIdentity",
        "summary": "创建 Agent 身份",
        "description": "客户端本地生成 Ed25519 密钥对后，将公钥（JWK 格式）上传到 ModelScope，注册一个新的 Agent 身份。\n\n- 私钥仅由客户端保存，服务端只存储公钥\n- `public_key` 必须包含 `kty=OKP`、`crv=Ed25519`、`x`（base64url 无 padding 编码的公钥）和 `kid`\n- `token_expire_time` 可选 300/600/1800/3600 秒（默认 3600）\n",
        "tags": [
          "Agent-IDP"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAgentIdentityRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/create-agent-identity-success"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/agent_ids/{agent_id}": {
      "get": {
        "operationId": "getAgentIdentity",
        "summary": "获取 Agent 身份详情",
        "description": "根据 agent_id 返回该 Agent 的完整信息（含当前公钥、状态、Token 配置等）",
        "tags": [
          "Agent-IDP"
        ],
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "Agent 身份 ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "sample": {
                "value": "agent_id:modelscope:agent_1234567890ab"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/get-agent-identity-success"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "operationId": "updateAgentIdentity",
        "summary": "更新 Agent 身份设置",
        "description": "更新 Agent 名称、描述或 Token 过期时间。所有字段均为可选。",
        "tags": [
          "Agent-IDP"
        ],
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "Agent 身份 ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAgentIdentityRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/update-agent-identity-success"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "operationId": "deleteAgentIdentity",
        "summary": "删除 Agent 身份",
        "description": "删除指定的 Agent 身份。删除后该 Agent 将无法再签发 Token，已签发的 Token 仍可使用直至过期。",
        "tags": [
          "Agent-IDP"
        ],
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "Agent 身份 ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/delete-agent-identity-success"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/agent_ids/{agent_id}/key_pairs": {
      "put": {
        "operationId": "resetAgentKeyPair",
        "summary": "重置 Agent 密钥对",
        "description": "客户端本地生成新的 Ed25519 密钥对后，上传新公钥替换旧公钥。\n\n- 旧 kid 立即失效，新 kid 立即生效\n- 已签发的旧 Token 不受影响（仍可使用直至过期），新签发的 Token 使用新 kid\n",
        "tags": [
          "Agent-IDP"
        ],
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "Agent 身份 ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResetKeyPairRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/reset-key-pair-success"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/agent_ids/{agent_id}/paused": {
      "post": {
        "operationId": "pauseAgent",
        "summary": "启用/停用 Agent",
        "description": "设置 Agent 的 paused 状态：\n\n- `paused=true` 停用：该 Agent 无法再签发 Token，但已签发的 Token 仍有效\n- `paused=false` 启用：恢复签发 Token 能力\n",
        "tags": [
          "Agent-IDP"
        ],
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "Agent 身份 ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PauseAgentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/pause-agent-success"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/agent_ids/{agent_id}/jwt_id_tokens": {
      "get": {
        "operationId": "listAgentTokenRecords",
        "summary": "获取 Agent 的 Token 签发记录",
        "description": "按 audience 维度返回该 Agent 最近一次给每个 Hub 应用签发的 Token 记录。\n",
        "tags": [
          "Agent-IDP"
        ],
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "Agent 身份 ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "页码（默认 1）",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "每页数量（默认 20，最大 50）",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 50
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/list-token-records-success"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/users/{username}/agent_ids": {
      "get": {
        "operationId": "listUserAgentIdentities",
        "summary": "获取指定用户的 Agent 身份列表",
        "description": "按用户名维度返回该用户名下所有 Agent 身份摘要列表，支持分页和按状态筛选。",
        "tags": [
          "Agent-IDP"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "description": "用户名",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "sample": {
                "value": "alice"
              }
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "按状态筛选",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/AgentIdentityStatus"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "页码（默认 1）",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "每页数量（默认 20，最大 50）",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 50
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/list-agent-identities-success"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/agent_id/token": {
      "post": {
        "operationId": "issueAgentToken",
        "summary": "签发 Agent Token",
        "description": "Agent 用其私钥对 message=`agent_id|kid|audience|timestamp` 进行 Ed25519 签名，\n服务端用注册时上传的公钥验签通过后，签发一个面向指定 Hub 应用（audience）的 JWT。\n\n本端点为公开端点，不需要 bearerAuth；签名本身即为身份证明。\n",
        "tags": [
          "Agent-IDP"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenSignRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/issue-token-success"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          }
        },
        "security": []
      }
    },
    "/agent_id/.well-known/agentid-configuration": {
      "get": {
        "operationId": "getAgentIdConfiguration",
        "summary": "获取 Agent IDP OIDC 配置",
        "description": "OIDC Discovery 端点，返回 Agent IDP 服务的核心元数据：\n`issuer`、`token_endpoint`、`jwks_uri`、`registration_endpoint`、`activity_endpoint`、\n`id_token_signing_alg_values_supported`。\n\n客户端及外部接入方应通过本端点动态发现各端点 URL，避免硬编码。\n本端点为公开端点，不需要 bearerAuth。\n",
        "tags": [
          "Agent-IDP"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/agentid-configuration-success"
          },
          "429": {
            "$ref": "#/components/responses/too-many-requests"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          }
        },
        "security": []
      }
    },
    "/agent_id/.well-known/agentid-jwks": {
      "get": {
        "operationId": "getAgentIdJWKS",
        "summary": "获取 Agent IDP JWKS",
        "description": "返回服务端用于签发 Agent JWT 的公钥集合（JSON Web Key Set）。\n\n资源方收到 Agent JWT 后，应通过本端点拉取 JWKS，根据 JWT header 中的 `kid` 选择对应公钥验签。\n支持多 kid 同时存在以实现密钥轮换：旧 kid 在过渡期内继续返回，新签发的 JWT 使用新 kid。\n\n本端点为公开端点，不需要 bearerAuth。\n",
        "tags": [
          "Agent-IDP"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/agentid-jwks-success"
          },
          "429": {
            "$ref": "#/components/responses/too-many-requests"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          }
        },
        "security": []
      }
    },
    "/magicubes/balance": {
      "get": {
        "operationId": "getBalance",
        "summary": "查询余额",
        "description": "查询当前用户的魔粒余额信息",
        "tags": [
          "Magicube"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/get-balance-success"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/collections": {
      "get": {
        "operationId": "listCollections",
        "summary": "获取 Collection 列表",
        "description": "获取 Collection 列表，支持搜索、按所有者过滤与排序、分页。公开列表无需 Token；查询私有 Collection 需 Bearer Token。",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "针对标题、描述的子字符串搜索",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "nlp"
              ]
            }
          },
          {
            "name": "owner",
            "in": "query",
            "description": "所有者过滤。仅允许过滤当前 Token 所属用户自己的 Collection，过滤他人（或匿名使用）返回 403 OperationNotAllowed。",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "排序方式：default（综合）/ last_modified（最近更新）/ likes（喜欢数）",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "default",
                "last_modified",
                "likes"
              ],
              "default": "default",
              "examples": [
                "likes"
              ]
            }
          },
          {
            "name": "page_number",
            "in": "query",
            "description": "页码（≥1）",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "examples": [
                1
              ]
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "每页大小（1~50）",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 10,
              "examples": [
                10
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/list-collections-success"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          },
          "503": {
            "$ref": "#/components/responses/service-unavailable"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {}
        ]
      },
      "post": {
        "operationId": "createCollection",
        "summary": "创建 Collection",
        "description": "创建一个新的 Collection。",
        "tags": [
          "Collections"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCollectionRequest"
              },
              "examples": {
                "create-collection-request": {
                  "value": {
                    "title": "最佳 NLP 模型合集",
                    "owner": "iSolver",
                    "description": "精选的自然语言处理模型...",
                    "visibility": "public",
                    "theme": "Blue"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/create-collection-success"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          },
          "503": {
            "$ref": "#/components/responses/service-unavailable"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/collections/{owner}/{slug}": {
      "get": {
        "operationId": "getCollection",
        "summary": "获取 Collection 详情",
        "description": "根据 {owner}/{slug} 获取 Collection 详情。visibility=public 时 Token 可选；visibility=private 时必填 Bearer Token。",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/collection_owner_path"
          },
          {
            "$ref": "#/components/parameters/collection_slug_path"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/get-collection-success"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          },
          "503": {
            "$ref": "#/components/responses/service-unavailable"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {}
        ]
      },
      "patch": {
        "operationId": "updateCollection",
        "summary": "更新 Collection",
        "description": "更新 Collection 元数据。传入哪个字段即更新哪个字段，未传字段保持原值。open/close 语义映射为 visibility（public/private）。",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/collection_owner_path"
          },
          {
            "$ref": "#/components/parameters/collection_slug_path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCollectionRequest"
              },
              "examples": {
                "update-collection-request": {
                  "value": {
                    "title": "最佳 NLP 模型合集（已更名）",
                    "visibility": "private"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/update-collection-success"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          },
          "503": {
            "$ref": "#/components/responses/service-unavailable"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "operationId": "deleteCollection",
        "summary": "删除 Collection",
        "description": "删除指定 {owner}/{slug} 的 Collection。需具备 admin 权限的 Bearer Token。",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/collection_owner_path"
          },
          {
            "$ref": "#/components/parameters/collection_slug_path"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/delete-collection-success"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          },
          "503": {
            "$ref": "#/components/responses/service-unavailable"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/collections/{owner}/{slug}/items": {
      "get": {
        "operationId": "listCollectionItems",
        "summary": "获取 Collection 条目列表",
        "description": "分页获取指定 Collection 的条目列表，支持按资源类型过滤。visibility=public 时 Token 可选；private 时必填。",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/collection_owner_path"
          },
          {
            "$ref": "#/components/parameters/collection_slug_path"
          },
          {
            "name": "item_type",
            "in": "query",
            "description": "按资源类型过滤：model / dataset / studio / paper / skill / mcp",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "model",
                "dataset",
                "studio",
                "paper",
                "skill",
                "mcp"
              ],
              "examples": [
                "model"
              ]
            }
          },
          {
            "name": "page_number",
            "in": "query",
            "description": "页码（≥1）",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "examples": [
                1
              ]
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "每页大小（1~50）",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 10,
              "examples": [
                10
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/list-collection-items-success"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          },
          "503": {
            "$ref": "#/components/responses/service-unavailable"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {}
        ]
      },
      "post": {
        "operationId": "addCollectionItems",
        "summary": "添加 Collection 条目",
        "description": "向 Collection 批量添加条目。传入 items 数组。\n\n异常处理：若部分条目不存在、已在 Collection 中或无权限，接口不整体回滚，返回 success=true，并在 data.failed_items 中列出失败项；\n全部失败时仍返回 success=true、added_count=0。仅请求参数格式错误返回 400。部分失败不返回 code 字段。\n",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/collection_owner_path"
          },
          {
            "$ref": "#/components/parameters/collection_slug_path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddCollectionItemsRequest"
              },
              "examples": {
                "add-collection-items-request": {
                  "$ref": "#/components/examples/add-collection-items-request"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/add-collection-items-success"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          },
          "503": {
            "$ref": "#/components/responses/service-unavailable"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "operationId": "updateCollectionItems",
        "summary": "批量更新 Collection 条目",
        "description": "批量更新 Collection 条目（P2）。通过每个条目的 item_type + item_object_id 定位，传入哪个字段就修改哪个字段。\n\n异常处理：若部分条目不在当前 Collection 或对应资源不存在，接口不整体回滚，返回 success=true，并在 data.failed_items 中列出失败项；\n全部失败时仍返回 success=true、updated_count=0。仅请求参数格式错误返回 400。部分失败不返回 code 字段。\n",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/collection_owner_path"
          },
          {
            "$ref": "#/components/parameters/collection_slug_path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCollectionItemsRequest"
              },
              "examples": {
                "update-collection-items-request": {
                  "$ref": "#/components/examples/update-collection-items-request"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/update-collection-items-success"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          },
          "503": {
            "$ref": "#/components/responses/service-unavailable"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/collections/{owner}/{slug}/items/{item_type}/{item_object_id}": {
      "patch": {
        "operationId": "updateCollectionItem",
        "summary": "更新单个 Collection 条目",
        "description": "通过 item_type + item_object_id 定位并更新单个条目。传入哪个字段即更新哪个字段。",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/collection_owner_path"
          },
          {
            "$ref": "#/components/parameters/collection_slug_path"
          },
          {
            "$ref": "#/components/parameters/collection_item_type_path"
          },
          {
            "$ref": "#/components/parameters/collection_item_object_id_path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCollectionItemRequest"
              },
              "examples": {
                "update-collection-item-request": {
                  "$ref": "#/components/examples/update-collection-item-request"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/update-collection-item-success"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          },
          "503": {
            "$ref": "#/components/responses/service-unavailable"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "operationId": "removeCollectionItem",
        "summary": "移除 Collection 条目",
        "description": "通过 item_type + item_object_id 定位并从 Collection 中移除单个条目。",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/collection_owner_path"
          },
          {
            "$ref": "#/components/parameters/collection_slug_path"
          },
          {
            "$ref": "#/components/parameters/collection_item_type_path"
          },
          {
            "$ref": "#/components/parameters/collection_item_object_id_path"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/remove-collection-item-success"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          },
          "503": {
            "$ref": "#/components/responses/service-unavailable"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/galleries": {
      "post": {
        "operationId": "createGallery",
        "summary": "创建 Gallery",
        "description": "创建一个新的灵感流/Gallery 内容。\n\n**权限要求**\n\n- 基线要求：已注册用户。\n- 若上传到组织名下，用户须为该组织的管理员或写权限成员。\n- 若上传到个人名下，需为和 token 身份指向一致的个人用户。\n\n**字段说明**\n\n- name 名称、labels 标签：需满足 CSI 内容安全审核要求，不合法返回 403。\n- path 自定义 URL 尾缀：系统会校验 owner/path 是否已存在，重复返回 400。\n- entry_file 入口文件：文件后缀须与 category 匹配（后缀不区分大小写，如 .IPYNB 等价于 .ipynb）：notebook→.ipynb，website→.html，pdf→.pdf；file 类别不限后缀，不匹配返回 400。\n- Gallery ID：由服务端生成 UUID v4，不可自定义。\n- 封面颜色：系统随机分配封面颜色模板（purple / pink / blue / turquoise / green）。\n",
        "tags": [
          "Galleries"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateGalleryRequest"
              },
              "examples": {
                "create-gallery-request": {
                  "$ref": "#/components/examples/create-gallery-request"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/create-gallery-success"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "User": {
        "allOf": [
          {
            "$ref": "#/components/schemas/UserPublic"
          },
          {
            "$ref": "#/components/schemas/UserPrivate"
          }
        ],
        "description": "用户完整信息(包含私有信息)"
      },
      "UserResponse": {
        "type": "object",
        "description": "用户信息响应",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "成功响应时始终为 true",
            "examples": [
              true
            ]
          },
          "data": {
            "$ref": "#/components/schemas/User",
            "description": "用户信息"
          },
          "request_id": {
            "type": "string",
            "description": "请求ID",
            "examples": [
              "4d3f4b7d-95be-4e6f-95eb-d75178375bd2"
            ]
          }
        },
        "required": [
          "success",
          "request_id"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "description": "错误响应格式",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "错误响应时始终为 false",
            "examples": [
              false
            ]
          },
          "code": {
            "type": "string",
            "description": "错误码",
            "examples": [
              "InputParameterError"
            ]
          },
          "message": {
            "type": "string",
            "description": "错误消息",
            "examples": [
              "Unauthorized access"
            ]
          },
          "request_id": {
            "type": "string",
            "description": "请求ID",
            "examples": [
              "4d3f4b7d-95be-4e6f-95eb-d75178375bd2"
            ]
          }
        },
        "required": [
          "success",
          "code",
          "message",
          "request_id"
        ]
      },
      "Model": {
        "type": "object",
        "description": "模型摘要信息",
        "properties": {
          "id": {
            "type": "string",
            "description": "模型仓库名（repo_id，格式为 owner/repo_name）",
            "examples": [
              "iic/QwenLong-L1.5-30B-A3B",
              "ZhipuAI/AutoGLM-Phone-9B"
            ]
          },
          "display_name": {
            "type": [
              "string",
              "null"
            ],
            "description": "模型展示名称",
            "examples": [
              "QwenLong-L1.5-30B-A3B",
              "AutoGLM-Phone-9B"
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "description": "模型简介",
            "examples": [
              ""
            ]
          },
          "downloads": {
            "type": "integer",
            "description": "下载量",
            "examples": [
              1466,
              28525
            ]
          },
          "likes": {
            "type": "integer",
            "description": "喜欢量",
            "examples": [
              25,
              265
            ]
          },
          "license": {
            "type": [
              "string",
              "null"
            ],
            "description": "许可证",
            "examples": [
              "apache-2.0",
              "MIT License"
            ]
          },
          "tasks": {
            "type": "array",
            "description": "任务列表",
            "items": {
              "type": "string"
            },
            "examples": [
              [
                "text-generation"
              ],
              [
                "image-captioning"
              ]
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "创建时间（ISO 8601 UTC）",
            "examples": [
              "2025-12-14T12:26:15Z"
            ]
          },
          "last_modified": {
            "type": "string",
            "format": "date-time",
            "description": "Git 文件或设置的最后修改时间（ISO 8601 UTC）",
            "examples": [
              "2025-12-16T03:34:26Z"
            ]
          },
          "file_size": {
            "type": "integer",
            "description": "文件大小（字节）",
            "examples": [
              61081671123
            ]
          },
          "params": {
            "type": "integer",
            "description": "参数量",
            "examples": [
              30532122624
            ]
          },
          "tags": {
            "type": "array",
            "description": "标签列表",
            "items": {
              "type": "string"
            },
            "examples": [
              [
                "license:apache-2.0",
                "model_type:qwen3_moe",
                "library:transformer",
                "library:safetensors",
                "library:pytorch",
                "task:text-generation",
                "deploy:swingdeploy"
              ]
            ]
          },
          "private": {
            "type": "boolean",
            "description": "是否非公开模型",
            "examples": [
              false
            ]
          },
          "gated": {
            "type": "boolean",
            "description": "是否申请制模型，通过申请后可访问",
            "examples": [
              false
            ]
          }
        },
        "required": [
          "id",
          "downloads",
          "likes",
          "tasks",
          "created_at",
          "last_modified",
          "file_size",
          "params",
          "private",
          "gated"
        ]
      },
      "ModelList": {
        "type": "object",
        "description": "模型列表与分页信息",
        "properties": {
          "models": {
            "type": "array",
            "description": "结果模型列表",
            "items": {
              "$ref": "#/components/schemas/Model"
            }
          },
          "total_count": {
            "type": "integer",
            "description": "符合筛选条件的模型总数",
            "examples": [
              43127
            ]
          },
          "page_number": {
            "type": "integer",
            "description": "当前页码",
            "examples": [
              1
            ]
          },
          "page_size": {
            "type": "integer",
            "description": "每页大小",
            "examples": [
              10
            ]
          }
        },
        "required": [
          "models",
          "total_count",
          "page_number",
          "page_size"
        ]
      },
      "ModelListResponse": {
        "type": "object",
        "description": "列出模型的标准响应包裹格式",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "成功时始终为 true",
            "examples": [
              true
            ]
          },
          "data": {
            "$ref": "#/components/schemas/ModelList",
            "description": "模型列表数据"
          },
          "request_id": {
            "type": "string",
            "description": "请求 ID",
            "examples": [
              "4d3f4b7d-95be-4e6f-95eb-d75178375bd3"
            ]
          }
        },
        "required": [
          "success",
          "data",
          "request_id"
        ]
      },
      "ModelDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Model"
          },
          {
            "type": "object",
            "description": "模型详情信息",
            "properties": {
              "readme": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "README 内容",
                "examples": [
                  "hello"
                ]
              }
            }
          }
        ]
      },
      "ModelDetailResponse": {
        "type": "object",
        "description": "获取模型详情的标准响应包裹格式",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "成功时始终为 true",
            "examples": [
              true
            ]
          },
          "data": {
            "$ref": "#/components/schemas/ModelDetail",
            "description": "模型详情数据"
          },
          "request_id": {
            "type": "string",
            "description": "请求 ID",
            "examples": [
              "4d3f4b7d-95be-4e6f-95eb-d75178375bd3"
            ]
          }
        },
        "required": [
          "success",
          "data",
          "request_id"
        ]
      },
      "Dataset": {
        "type": "object",
        "description": "数据集摘要信息",
        "properties": {
          "id": {
            "type": "string",
            "description": "数据集仓库名（repo_id，格式为 owner/repo_name）",
            "examples": [
              "DAMO_NLP/jd",
              "iic/nlp_domain_classification_chinese_testset"
            ]
          },
          "display_name": {
            "type": [
              "string",
              "null"
            ],
            "description": "数据集展示名称",
            "examples": [
              "商品评论情感预测",
              "中文文本领域分类测试集"
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "description": "数据集简介",
            "examples": [
              "",
              "..."
            ]
          },
          "file_size": {
            "type": "integer",
            "description": "文件大小（字节）",
            "examples": [
              0
            ]
          },
          "downloads": {
            "type": "integer",
            "description": "下载量",
            "examples": [
              53996,
              2401
            ]
          },
          "likes": {
            "type": "integer",
            "description": "喜欢量",
            "examples": [
              102,
              23
            ]
          },
          "license": {
            "type": [
              "string",
              "null"
            ],
            "description": "许可证",
            "examples": [
              "Apache License 2.0",
              "cc-by-4.0"
            ]
          },
[...]
